---
import ButtonProps from "../ButtonProps.astro";

export interface Props {
  title: string;
  listitem1: string;
  listitem2: string;
  listitem3: string;
  listitem4: string;
  heroImg: string;
}

const { title, listitem1, listitem2, listitem3, listitem4, heroImg } =
  Astro.props as Props;
---

<div id="hero-wrapper" class="text-onyx 2xl:h-screen flex justify-center">
  <div id="hero-grid" class="grid xl:grid-cols-2 grid-cols-1">
    <div id="SQ1" class="2xl:p-5 px-1 py-3 mb-5 2xl:mt-[250px] mt-1">
      <div id="padding" class="pt-1 pl-5 bg-">
        <h2 class="text-test lg:text-4xl md:text-3xl text-2xl pb-2">
          {title}
        </h2>
        <ul>
          <li class="lowercase md:text-xl text-md">- {listitem1}</li>
          <li class="lowercase md:text-xl text-md">- {listitem2}</li>
          <li class="lowercase md:text-xl text-md">- {listitem3}</li>
          <li class="lowercase md:text-xl text-md">- {listitem4}</li>
        </ul>
        <!-- * BTN WRAPPER   v-->
        <ButtonProps
          btn1="see more"
          btn2="contact"
          btn1Link="/#about"
          btn2Link="/#contact"
        />
        <!-- * BTN WRAPPER   ^-->
      </div>
    </div>
    <div
      id="sq2"
      class="flex justify-center items-center 2xl:p-0 pb-1 2xl:pt-3 pt-[70px]"
    >
      <img src={heroImg} class="" />
    </div>
  </div>
</div>
