---
export interface Props {
  title: string;
  listitem1: string;
  listitem2: string;
  listitem3: string;
  listitem4: string;
  sq2_img: string;
  dynamicBtn: string;
  btn2: string;
  dynamicBtnLink: string;
  btnLink2: string;
}

const {
  title,
  listitem1,
  listitem2,
  listitem3,
  listitem4,
  sq2_img,
  dynamicBtn,
  btn2,
  dynamicBtnLink,
  btnLink2,
} = Astro.props as Props;
---

<div id="section-grid" class="grid xl:grid-cols-2 grid-cols-1">
  <div id="sq1" class="bg- 2xl:p-5 px-1 py-3 mb-5 2xl:mt-[250px] md:mt-[150px]">
    <h1 class="text-test lg:text-4xl md:text-3xl text-2xl pb-2">
      {title}
    </h1>
    <ul class="space-y-1">
      <li class="lowercase md:text-xl text-md">- {listitem1}</li>
      <li class="lowercase md:text-xl text-md">- {listitem2}</li>
      <li class="lowercase md:text-xl text-md">- {listitem3}</li>
      <li class="lowercase md:text-xl text-md">- {listitem4}</li>
    </ul>
    <!-- * BTN WRAPPER   v-->

    <div id="btn-wrapper" class="mt-5 ml-2">
      <button
        id="dynamic-btn"
        class="py-1 px-2 mr-4 sq-styles bg-teal text-test2"
      >
        <a href={dynamicBtnLink}>
          {dynamicBtn}
        </a>
      </button>

      <button
        id="contact-btn"
        class="sq-styles py-1 px-2 bg-orange text-parchment"
      >
        <a href="/contact">Contact</a>
      </button>
    </div>
    <!-- * BTN WRAPPER   ^-->
  </div>
  <div id="sq2" class="bg- flex justify-center items-center">
    <div id="sq2-img-wrapper" class="m-5 p-5">
      <img src={sq2_img} class="" />
    </div>
  </div>
</div>
