---
import ButtonProps from "../shared/ButtonProps.astro";

// import DynamicAboutCTA from "./shared/DynamicAboutCta";

export interface Props {
  title: string;
  paragraph1: string;
  paragraph2: string;
  paragraph3: string;
  paragraph4: string;
}

const { title, paragraph1, paragraph2, paragraph3, paragraph4 } =
  Astro.props as Props;
---

<!-- TITLE? DYNAMIC PARAGRAPH1 -->
<div id="test2" class="bg-">
  <div id="PROBLEM-SOLVING-wrapper" class="bg- py-5">
    <div id="container" class="bg- 2xl:mx-0 lg:mx-[70px] mx-5">
      <div id="about-me-grid" class="grid md:grid-cols-2 grid-cols-1 gap-1">
        <div id="sq1" class="bg- flex md:justify-end justify-center">
          <div
            id="sq1-container"
            class="2xl:w-1/2 w-full flex lg:justify-end justify-center items-end"
          >
            <!-- <DynamicAboutCTA isLoggedIn={true} username="Address Key Problem" /> -->
            <!-- <DynamicAboutCTA isLoggedIn={false} username="test" /> -->
          </div>
        </div>
        <div id="sq2" class="bg- row-span-2">
          <img
            id="primary-img"
            src="https://images.pexels.com/photos/3792581/pexels-photo-3792581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt=""
            class="sq-styles lg:p-5 p-2"
          />
        </div>

        <div id="sq3" class="bg- flex 2xl:justify-end 2xl:pl-5 md:ml-5">
          <div class="2xl:w-1/2 w-full md:pl-1 pl-3 md:pr-3 pr-1 pt-5">
            <h2 class="font-bold text-3xl pb-2">{title}</h2>
            <!-- <h2>**Pain Points to Address:**</h2> -->
            <p>
              {paragraph1}<p>
                <p>
                  {paragraph2}
                </p>
                <p class="py-1 mb-2">
                  {paragraph3}
                </p>
                <p>
                  {paragraph4}
                </p>
              </p>

              <ButtonProps
                btn1="view AboutSection2"
                btn1Link="/#view-AboutSection2"
              />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
