---
import ButtonProps from "../shared/ButtonProps.astro";

const frontmatter = Astro.props;

const { title, image, alt, testItem1, btn1, btn2 } = frontmatter;
---

<div id="card-wrapper" class="rounded-lg p-[55px]">
  <img src={image} class="sq-styles h-[450px]" alt={alt} />
  <div class="bg- md:text-lg text-sm pt-2 pl-5">
    <h3 class="font-bold text-2xl">{title}</h3>
    <p>{testItem1}</p>
    <div id="card-btn-wrapper" class="space-x-2 text-onyx">
      <button id="btn1" class="underline">{btn1}</button>
      <button id="btn2" class="underline">{btn2}</button>
    </div>
  </div>
</div>
