---
const frontmatter = Astro.props;

const { title, image, alt, testItem1, category1, category2, url } = frontmatter;
---

<div id="card-wrapper" class="p-5 bg-">
  <!-- ?: CHANGE BTNS TO CATEGORIES v-->
  <div id="card-btn-wrapper" class="flex space-x-2 opacity-70 ml-1 pl-1 pb-1">
    <div id="category1" class="">{category1}</div>
    <div id="category2" class="">{category2}</div>
  </div>
  <!-- ?:  ^-->
  <a href={url}>
    <img
      src={image}
      class="rounded-lg border-2 border-teal hover:border-2 hover:border-onyx"
      alt={alt}
    />
    <div class="bg- md:text-lg text-sm pt-2 p-3 md:ml-3 mr-2">
      <h3 class="font-bold text-2xl">{title}</h3>
      <p>{testItem1}</p>
    </div>
  </a>
</div>
