---
import { Image } from "astro:assets";
import mainImg from "../../images/mainImg1.png";
import test1Img from "../../images/WebsiteScreenshots/test1.png";

export interface Props {
  title: string;
  pkgNo: string;
  desc1: string;
  desc2: string;
  tag1: string;
  tag2: string;
  pkgParagraph: string;
  sq2Paragraph: string;
  sq1Img: string;
  sq3Img: string;
  sq3desc: string;
}

const {
  title,
  pkgNo,
  desc1,
  desc2,
  tag1,
  tag2,
  pkgParagraph,
  sq2Paragraph,
  sq1Img,
  sq3Img,
  sq3desc,
} = Astro.props as Props;
---

<div
  id="package-card"
  class="bg-parchment text-carribean mt-5 sq-styles grid grid-cols-2"
>
  <div id="sq1" class="bg-test px-2 flex justify-end items-center">
    <div id="mainImg-wrapper" class="">
      <img src={sq1Img} alt="" class="sq-styles" />
    </div>
  </div>
  <div id="sq2" class="bg flex justify-center items-center">
    <div id="sq-2-container" class="bg- sq-styles- p-5">
      <span class="text-lg">{pkgNo}</span>
      <h1 class="font-bold text-4xl">{title}</h1>
      <p class="bg-teal text-parchment sq-styles-teal mt-1 my-2 py-3 px-2 pl-2">
        {desc1}
      </p>
      <p class="py-3">{desc2}</p>
      <ul class="bg- my-5 mb-1 flex space-x-6 text-md">
        <li class="sq-styles-teal px-2 py-1 bg-">{tag1}</li>
        <li class="sq-styles-teal px-2 py-1 bg-">{tag2}</li>
      </ul>
      <p class="my-3">{pkgParagraph}</p>
    </div>
  </div>
  <div id="sq3 " class="bg-">
    <div class="mr-3 my-4 pl-3">
      <img src={sq3Img} alt="" class="rounded-2xl border-2 border-onyx" />
      <p>{sq3desc}</p>
    </div>
  </div>
  <div id="sq4 " class="text- p-5">
    <p class="p-3 m-2">
      {sq2Paragraph}
    </p>
  </div>
</div>
