---
import ButtonProps from "../shared/ButtonProps.astro";
import CenterPageBanner from "../shared/CenterPageBanner.astro";
const items = [
  {
    title: "Growing Pup",
    listitem1: "landing pg",
    listitem2:
      "(This is a template catered towards people starting out, not much custom.) Fully responsive 1-page website (home, about, contact, etc.)",
    listitem3:
      "(Things that can be custom should be already made) Mobile-friendly and modern design.",
    listitem4:
      "Basic animations/interactions with JavaScript, Contact form (optional). Free hosting setup (Netlify or GitHub Pages). Delivery in 48 hours after content is received",
    img: "https://dl.dropboxusercontent.com/scl/fi/zdvqgpkxstz9g3vr5k70l/1-2-25-rq.png?rlkey=nnsad2qpj4i0e3bti5gkqy8gf&st=46k5gk9p&dl=0",
    btn1: "see demo",
    btn2: "contact",
    btnLink1: "/template 1",
    btnLink2: "/contact",
  },
  {
    title: "Rising Carnivore",
    listitem1: "landing pg with content, custom w Sanity",
    listitem2: "Taking your business to a whole another level.",
    listitem3: "Custom, contact for unique and custom work,",
    listitem4: "see grid below for some of the possibilities!",
    img: "https://dl.dropboxusercontent.com/scl/fi/g23z3n6u9joennznyqxc4/lc-9-20-24.png?rlkey=q75joo6od6ixkfoxr9q57kfkb&st=cfnmoz5g&dl=0",
    btn1: "see demo",
    btn2: "contact",
    btnLink1: "/template 2",
    btnLink2: "/contact",
  },
];
---

<div id="wrapper" class="xl:mx-5 xl:px-5 mt-[150px] pt-5">
  <CenterPageBanner
    BannerTitle="Packages"
    paragraph="I build custom applications for small businesses."
  />
  <div id="" class="bg- flex justify-center">
    <div id="container" class="2xl:px-5 px-0 2xl:mx-5 mx-0">
      <div id="grid" class="grid lg:grid-cols-2 grid-cols-1">
        {
          items.map((item) => (
            <div id="card" class="bg- 2xl:m-5 p-5 opacity-80 hover:opacity-100">
              <div class="">
                <div id="img-wrapper" class="my-1">
                  <img
                    src={item.img}
                    alt={item.title}
                    class="sq-styles border border-black"
                  />
                </div>

                <div id="content-wrapper" class="ml-3 mt-1 p-1">
                  <h2 class="font-bold text-2xl">{item.title}</h2>
                  <ul class="text-lg pb-3 pt-1">
                    <li>- {item.listitem1}</li>
                    <li>- {item.listitem2}</li>
                    <li>- {item.listitem3}</li>
                    <li>- {item.listitem4}</li>
                    <ButtonProps btn1="see demo" btn1Link="contact" />
                  </ul>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
