---
import { Image } from "astro:assets";
import Img1 from "../../../public/screenshots/hoveyroofing.png";
import Img2 from "../../../public/screenshots/designs/fish-expo-demo.png";
// import Card from "../Card.astro";

// const items = [
//   {
//     title: "Hovey Roofing",
//     p: "1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam maiores cupiditate non illum, ducimus ad vero repellendus accusamus iure quod? Praesentium vel, non vero ex optio recusandae nulla maxime dolorum!",
//     image:
//       "https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
//   },
//   {
//     title: "Generations Backflow",
//     p: "2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam maiores cupiditate non illum, ducimus ad vero repellendus accusamus iure quod? Praesentium vel, non vero ex optio recusandae nulla maxime dolorum!",
//     image:
//       "https://images.pexels.com/photos/357440/pexels-photo-357440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
//   },
// ];
---

<>
  <div id="works-wrapper" class="flex justify-center items-center">
    <div id="container" class="">
      <style>
        .gridTemplateAreas {
          display: grid;
          grid-gap: 2em;
          grid-template-areas:
            "A B"
            "C D";
        }

        @media screen and (max-width: 1024px) {
          .gridTemplateAreas {
            display: grid;
            grid-template-areas:
              "A"
              "B"
              "D"
              "C";
          }
        }

        #sq-1 {
          grid-area: A;
        }
        #sq-2 {
          grid-area: B;
        }
        #sq-3 {
          grid-area: C;
        }
        #sq-4 {
          grid-area: D;
        }
        #content-container {
          /* margin: 50px; */
        }
      </style>

      <div
        id="section-banner"
        class="_PrimaryBorder bg-papaya rounded-bl-lg rounded-tl-lg text-black drop-shadow-lg ml-[50px] mt-[150px] 2xl:p-[35px] p-5"
      >
        <h2 class="2xl:text-5xl text-4xl font-bold">Featured Works</h2>
        <p class="pt-1 pl-1 w-3/">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum quo
          atque fuga. Corporis doloremque sit minus, asperiores quia velit
          inventore nostrum! Dicta alias corporis numquam.
        </p>
      </div>

      <!-- GRID v -->
      <div
        id="grid"
        class="gridTemplateAreas test2 2xl:p-[50px] p-1 mt-[50px] 2xl:mx-[90px] mx-5"
      >
        <!-- todo: CREATE CARD COMPONENT v-->
        <!-- <div class="bg-test1">
          {
            items.map((item) => (
              // <Card /> 
              <div id="flex" class="flex">
                <div id="content-wrapper" class="">
                  <h3 class="text-2xl font-bold">{item.title}</h3>
                  <p>{item.p}</p>
                </div>
                <div id="id-wrapper" class="">
                  <img src={item.image} alt="" />
                </div>
              </div>
            ))
          }
        </div> -->

        <!-- todo: CREATE CARD COMPONENT ^-->

        <!-- * order ref v -->
        <!-- <div class="flex justify-between ...">
          <div class="">01</div>
          <div class="order-last">02</div>
          <div class="order-first">03</div>
        </div> -->
        <!-- * order ref ^ -->

        <!-- *SQ-1 -->
        <div id="sq-1" class="test1 pl-1 pt-[55px]">
          <div id="content-container" class="2xl:p-[50px]">
            <h2
              class="text-black font-bold 2xl:text-4xl sm:text-5xl 2xl:my-5 lg:mt-5 sm:mt-[50px]"
            >
              HoveyRoofing
            </h2>
            <p class="">
              1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
              maiores cupiditate non illum, ducimus ad vero repellendus
              accusamus iure quod? Praesentium vel, non vero ex optio recusandae
              nulla maxime dolorum!
            </p>

            <div id="btn-wrapper" class="flex gap-4">
              <button
                class="hover:text-lavender bg-teal text-white p-2 my-5 drop-shadow-lg"
              >
                <a href="">case study</a>
              </button>
              <button
                class="hover:text-lavender bg-orange text-white p-2 my-5 drop-shadow-lg"
              >
                <a href="https://hoveyroofing.com">visit site</a>
              </button>
            </div>
          </div>
        </div>

        <!-- *SQ-2 -->
        <div id="sq-2" class="lavender">
          <Image
            src={Img1}
            alt=""
            class="h-full dropshadow-2xl _ShadowBorder"
          />
        </div>

        <!-- *SQ-3 -->
        <div id="sq-3" class="2xl:pt-[150px]">
          <Image src={Img2} alt="" />
        </div>

        <!-- *SQ-4 -->
        <div id="sq-4" class="bg- pt-[150px] 2xl:pl-[50px]">
          <div id="content-container">
            <h2
              class="text-black font-bold 2xl:text-4xl sm:text-5xl 2xl:my-5 lg:mt-5 sm:mt-[50px]"
            >
              Generations Backflow
            </h2>
            <p class="">
              1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
              maiores cupiditate non illum, ducimus ad vero repellendus
              accusamus iure quod? Praesentium vel, non vero ex optio recusandae
              nulla maxime dolorum!
            </p>

            <p class="">
              1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
              maiores cupiditate non illum, ducimus ad vero repellendus
              accusamus iure quod? Praesentium vel, non vero ex optio recusandae
              nulla maxime dolorum!
            </p>
            <div class="flex gap-4">
              <button
                id="btn-wrapper"
                class="hover:text-lavender rounded bg-teal text-white p-2 my-5 drop-shadow-lg"
              >
                <a href="">case study</a>
              </button>
              <button class="bg-orange text-white p-2 my-5 drop-shadow-lg">
                <a href="">visit site</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- GRID  ^  -->
    </div>
  </div>
</>
