---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/sections/Hero.astro";
import HowItWorks from "../components/sections/HowItWorks.astro";
import Card from "../components/Card.astro";
const allSites = await Astro.glob("./websites/*.md");
import Packages from "../components/sections/Packages.astro";
import BuildAuthority from "../components/sections/BuildAuthority";
import SocialProof from "../components/sections/SocialProof.astro";
import Portfolio from "../components/sections/Portfolio.astro";
import ProblemSolving from "../components/sections/ProblemSolving.astro";
import BuildAuthority2 from "../components/sections/BuildAuthority2.astro";
import WebDevGrid from "../components/WebDevGrid.astro";
import Contact from "../components/sections/Contact.astro";
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
---

<MainLayout>
  <Hero />
  <BuildAuthority />
  <ProblemSolving />
  <CenterPageBanner
    BannerTitle="Social Proof"
    paragraph="I build custom applications for small businesses."
  />
  <WebDevGrid />
  <SocialProof />
  <Portfolio />
  <HowItWorks />
  <Packages />
  <BuildAuthority2 />
  <div id="writing" class="mb-5 pb-5 2xl:px-[105px] bg-">
    <CenterPageBanner
      BannerTitle="Writing"
      paragraph="pkgs-fdsfjsk fjlsljfksldjflk s slkfjslkf sdlkfjdskfjkjeksfjslk flkjsjk "
    />
    <div
      id="grid"
      class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 2xl:gap-8 gap-4 lg:px-[50px] px-3"
    >
      {
        allSites.map((site) => (
          <Card
            title={site.frontmatter.title}
            image={site.frontmatter.image?.url}
            alt={site.frontmatter.title}
            testItem1={site.frontmatter.testItem1}
            category1={site.frontmatter.category1}
            category2={site.frontmatter.category2}
            url={site.frontmatter.url}
          />
        ))
      }
    </div>
  </div>
  <Contact />
</MainLayout>
