---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/sections/Hero.astro";
import HowItWorks from "../components/ctas/HowItWorks.astro";
// import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
// import Card from "../components/shared/Card.astro";
import ContactForm from "../components/ContactForm";
import Packages from "../components/sections/Packages.astro";
import BuildAuthority from "../components/sections/BuildAuthority";
import SocialProof from "../components/SocialProof.astro";
import Portfolio from "../components/sections/Portfolio.astro";
import ProblemSolving from "../components/sections/ProblemSolving.astro";
// const allSites = await Astro.glob("./websites/*.md");
import WhatsIncluded from "../components/ctas/WhatsIncluded.astro";
import MainGoal from "../components/MainGoal.astro";
import BuildAuthority2 from "../components/sections/BuildAuthority2.astro";
import FinalCta from "../components/FinalCta.astro";
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
---

<MainLayout>
  <!-- * -->
  <!-- * -->
  <!-- * -->
  <!-- TODO: 5/30- START AGAIN HERE V-->
  <Hero />
  <BuildAuthority />
  <ProblemSolving />
  <HowItWorks />
  <SocialProof />
  <Portfolio />
  <Packages />
  <BuildAuthority2 />

  <div class="bg-teal text-parchment border-t border-black bg- py-[50px] my-5">
    <CenterPageBanner
      BannerTitle="Contact"
      paragraph="I build custom applications for small businesses."
    />
    <div class="grid grid-cols-2">
      <FinalCta />
      <ContactForm />
    </div>
  </div>
  <!-- TODO: START AGAIN HERE ^-->
  <!-- * -->
  <!-- * -->
  <!-- * -->
  <!-- <div class="bg-test1"> -->
  <!-- <WhatsIncluded /> -->
  <!-- <MainGoal /> -->
  <!-- </div> -->
  <!-- ?LEAST PRIORITY CURRENTLY V-->
  <!-- <div id="writing" class="mb-5 pb-5 2xl:px-[105px] bg-">
    <CenterPageBanner
      BannerTitle="Writing"
      paragraph="pkgs-fdsfjsk fjlsljfksldjflk s slkfjslkf sdlkfjdskfjkjeksfjslk flkjsjk "
    />
    <div id="grid" class="grid md:grid-cols-3 grid-cols-1 2xl:gap-5 px-[50px]">
      {
        allSites.map((site) => (
          <Card
            title={site.frontmatter.title}
            image={site.frontmatter.image.url}
            alt={site.frontmatter.image.alt}
            testItem1={site.frontmatter.testItem1}
            category1={site.frontmatter.category1}
            category2={site.frontmatter.category2}
            url={site.url}
          />
        ))
      }
    </div>
  </div> -->

  <!-- ?LEAST PRIORITY CURRENTLY ^-->
</MainLayout>
