---
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
import WebDevGridSm from "../components/shared/grids/WebDevGridSm.astro";
import Card from "../components/shared/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
const allSites = await Astro.glob("./websites/*.md");
---

<MainLayout>
  <!--  //TODO: CURRENTLY ADD <WhatsIncluded /> TO WORK PG v-->
  <WebDevGridSm />
  <div id="wrapper" class="">
    <div id="banner-wrapper" class="mt-[150px] text-">
      <CenterPageBanner
        BannerTitle="Work"
        paragraph="pkgs-fdsfjsk fjlsljfksldjflk s slkfjslkf sdlkfjdskfjkjeksfjslk flkjsjk "
      />
    </div>

    <div id="grid-wrapper" class="mb-5 pb-5 2xl:px-[105px] bg-">
      <div id="grid" class="grid md:grid-cols-2 grid-cols-1 2xl:gap-12">
        {
          allSites.map((site) => (
            <Card
              title={site.frontmatter.title}
              image={site.frontmatter.image.url}
              alt={site.frontmatter.image.alt}
              testItem1={site.frontmatter.testItem1}
              category1={site.frontmatter.category1}
              category2={site.frontmatter.category2}
              url={site.url}
            />
          ))
        }
      </div>
    </div>
  </div>

  <!-- <ContactCTA /> -->
</MainLayout>
