---
import Testimonial from "../components/ctas/Testimonial";
import ContactCTA from "../components/sections/ContactCTA.astro";
import GalleryBanner from "../components/shared/GalleryBanner.astro";
import DynamicBanner from "../components/shared/Dynamic_Banner.astro";
import DynamicHeadline from "../components/shared/Dynamic_Headline.astro";
import MainLayout from "../layouts/MainLayout.astro";
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";


const items = [
  {
    title: "Hovey Roofing",
    listitem1: "landing pg",
    listitem2: "This is a template catered towards people starting out, not much custom.",
    listitem3:
      "Things that can be custom should be already made",
    listitem4:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet enim officiis ipsum veniam,",
    img: "https://images.pexels.com/photos/3046629/pexels-photo-3046629.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
    btn1: "see demo",
    btn2: "contact",
    btnLink1: "/template 1",
    btnLink2: "/contact"
  },
  {
    title: "Portfolio",
    listitem1: "landing pg with content",
    listitem2: "Taking your business to a whole another level.",
    listitem3:
      "Custom, contact for unique and custom work,",
    listitem4:
      "see grid below for some of the possibilities!",
    img: "https://images.pexels.com/photos/26655860/pexels-photo-26655860/free-photo-of-red-fox-walking-in-the-meadow.jpeg?auto=compress&cs=tinysrgb&w=600",
    btn1: "see demo",
    btn2: "contact",
    btnLink1: "/template 2",
    btnLink2: "/contact"
      },
      {
    title: "The Running Quail",
    listitem1: "landing pg with content",
    listitem2: "Taking your business to a whole another level.",
    listitem3:
      "Custom, contact for unique and custom work,",
    listitem4:
      "see grid below for some of the possibilities!",
    img: "https://images.pexels.com/photos/26655860/pexels-photo-26655860/free-photo-of-red-fox-walking-in-the-meadow.jpeg?auto=compress&cs=tinysrgb&w=600",
    btn1: "see demo",
    btn2: "contact",
    btnLink1: "/template 2",
    btnLink2: "/contact"
      },
      {
    title: "LC Templates",
    listitem1: "landing pg with content",
    listitem2: "Taking your business to a whole another level.",
    listitem3:
      "Custom, contact for unique and custom work,",
    listitem4:
      "see grid below for some of the possibilities!",
    img: "https://images.pexels.com/photos/26655860/pexels-photo-26655860/free-photo-of-red-fox-walking-in-the-meadow.jpeg?auto=compress&cs=tinysrgb&w=600",
    btn1: "see demo",
    btn2: "contact",
    btnLink1: "/template 2",
    btnLink2: "/contact"
      }   
];
---
<MainLayout>
   <!--  //TODO: CURRENTLY ADD <WhatsIncluded /> TO WORK PG v-->
   <!-- <CenterPageBanner BannerTitle="WHATS INCLUDED"paragraph="pkgs-fdsfjsk fjlsljfksldjflk s slkfjslkf sdlkfjdskfjkjeksfjslk flkjsjk "/> -->
   <!-- <DynamicBanner headline="Work" paragraph1="sites featured on LC" paragraph2="p1 sfdsfsd" paragraph3="p1 sfdsfsd" headline="headline koskfsoF:LSfOLJ"        
    
   
   /> -->

   <div id="wrapper" class="">
   <GalleryBanner title="Work" paragraph="sites featured on LC"    />
   <div id="centered" class="bg- flex justify-center items-center pb-5 mb-5 md:p-5 p-0 bg- mt-[200px]">
    <div id="featured-sites-container" class="max-w-[1060px]">
      <div id="featured-sites-grid" class="grid grid-cols-1 gap-x-5 gap-y-12">
        {
          items.map((item) => (
            <div
              id="card" 
              class="p-5 rounded-lg "
            >
              <h2 class="font-bold text-2xl pb-2">{item.title}</h2>


             <div id="flex" class="flex">
              <div id="img-wrapper" class="w-full my-1 rounded">
                     <img src={item.img} alt={item.title} class="border-2 border-black rounded-lg "/>
              </div>


               <div id="test2" class=" w-full p-2  bg-"  >
              <ul class="text-lg pl-2 bg- pt-[120px]">
                <li class="font-semibold">- {item.listitem1}</li>
                <li>- {item.listitem2}</li>
                <li>- {item.listitem3}</li>
                <li>- {item.listitem4}</li>
              <!-- * BTN WRAPPER  (make visible when content available) v-->
              <div id="btns-wrapper" class="mt-5 text-sm">
              <button id="btn1" class="sq-styles py-1 px-2 mr-4 bg-test2 text-teal">
                <a href={item.btnLink1}>
                {item.btn1}
                    </a>              
              </button>
              <button id="btn2" class="sq-styles py-1 px-2 text-orange bg-parchment">
                <a href={item.btnLink2}>
                {item.btn2}
                    </a>   
              </button>
            </div>
            </div>
          </div>
              <!-- * BTN WRAPPER   ^-->
              </ul>
            </div>
          ))
        }
      </div>
        <Testimonial /> 
    </div>
  
  </div>
</div>
   <!--  //TODO: CURRENTLY ADD <WhatsIncluded /> TO WORK PG ^-->


  <ContactCTA />
</MainLayout>
