---
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
import WebDevGridSm from "../components/shared/grids/WebDevGridSm.astro";
import Card from "../components/shared/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
const allSites = await Astro.glob("./websites/*.md");
---

<MainLayout>
  <!--  //TODO: CURRENTLY ADD <WhatsIncluded /> TO WORK PG v-->
  <WebDevGridSm />
  <div id="wrapper" class="">
    <div id="banner-wrapper" class="mt-[150px]">
      <CenterPageBanner
        BannerTitle="Work"
        paragraph="pkgs-fdsfjsk fjlsljfksldjflk s slkfjslkf sdlkfjdskfjkjeksfjslk flkjsjk "
      />
    </div>

    <div id="grid-wrapper" class="p-[155px] bg-">
      <div id="grid" class="grid grid-cols-2 gap-5">
        {
          allSites.map((site) => (
            <Card
              title={site.frontmatter.title}
              image={site.frontmatter.image.url}
              alt={site.frontmatter.image.alt}
              testItem1={site.frontmatter.testItem1}
              btn1={site.frontmatter.btn1}
              btn2={site.frontmatter.btn2}
            />
          ))
        }
      </div>
    </div>
  </div>

  <!-- <ContactCTA /> -->
</MainLayout>
