---
import Card from "../components/Card.astro";
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
import WebDevGrid from "../components/WebDevGrid.astro";
import MainLayout from "../layouts/MainLayout.astro";
const allSites = await Astro.glob("./websites/*.md");
---

<MainLayout>
  <!-- <div id="banner-color-switch" class="border-t border-b border-onyx"> -->
  <CenterPageBanner BannerTitle="Writing" paragraph="(blog and services)" />
  <!-- </div> -->
  <div id="writing" class="mb-5 pb-5 2xl:p-[105px] bg-">
    <div
      id="grid"
      class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 2xl:gap-8 gap-4 lg:px-[50px] px-3"
    >
      {
        allSites.map((site) => (
          <Card
            title={site.frontmatter.title}
            image={site.frontmatter.image?.url}
            alt={site.frontmatter.title}
            testItem1={site.frontmatter.testItem1}
            category1={site.frontmatter.category1}
            category2={site.frontmatter.category2}
            url={site.frontmatter.url}
          />
        ))
      }
    </div>
  </div>

  <!-- TRANSITION CSS HERE -->
  <div class="md:absolute relative">
    <!-- <WebDevGrid /> -->
  </div>
  <div id="skewed-transition" class="skewed-wrapper">
    <div class="skewed-bg"></div>
    <div class="content"></div>
  </div>
  <!-- TRANSITION CSS HERE -->
</MainLayout>
