---
import Image from "astro/components/Image.astro";
import Card from "../components/Card.astro";
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
import MainLayout from "../layouts/MainLayout.astro";
import DefineItemsGrid from "../components/DefineItemsGrid.astro";
import ContactMe from "../components/sections/ContactMe.astro";

const allSites = await Astro.glob("./websites/*.md");
---

<MainLayout>
  <CenterPageBanner BannerTitle="Writing" paragraph="( services)" />
  <DefineItemsGrid />

  <!-- TRANSITION CSS HERE -->
  <div class="md:absolute relative"></div>
  <div id="skewed-transition" class="skewed-wrapper">
    <div class="skewed-bg"></div>
    <div class="content"></div>
  </div>

  <div id="blog" class="bg-teal text-parchment pl-[90px]">
    <h2
      class="text-6xl text-papaya pb-5 w-1/4 lg:pl-[70px] px-3 font-extrabold"
    >
      Blog
    </h2>
    <div
      id="grid"
      class="pr-5 mr-5 grid md:grid-cols-2 grid-cols-1 gap-12 lg:pl-[50px]"
    >
      {
        allSites.map((site) => (
          <Card
            title={site.frontmatter.title}
            image={site.frontmatter.image?.url}
            alt={site.frontmatter.title}
            testItem1={site.frontmatter.testItem1}
            category1={site.frontmatter.category1}
            category2={site.frontmatter.category2}
            url={site.frontmatter.url}
          />
        ))
      }
    </div>
    <ContactMe />
  </div>
  <!-- TRANSITION CSS HERE -->
</MainLayout>
