---
import ButtonProps from "./shared/ButtonProps.astro";

export interface Props {
  title: string;
  listitem1: string;
  listitem2: string;
  listitem3: string;
  listitem4: string;
  heroImg: string;
}

const { title, listitem1, listitem2, listitem3, listitem4, heroImg } =
  Astro.props as Props;
---

<div
  id=""
  class="px-5 2xl:mx-[150px] bg- text-onyx 2xl:h-screen flex justify-center pt-1"
>
  <div id="grid" class="grid md:grid-cols-2 grid-cols-1">
    <div id="SQ1" class="flex items-center bg- 2xl:p-5 mb-5">
      <img src={heroImg} class="md:w-3/4 border border-black" />
    </div>
    <div
      id="sq2"
      class="flex bg- md:justify-center md:items-center md:p-5 pb-1"
    >
      <div id="padding" class="lg:p-5 p-1 bg-">
        <div class="">
          <h2 class="lg:text-4xl text-3xl font-extrabold pb-2">
            {title}
          </h2>
          <ul>
            <li class="lowercase md:text-xl text-md">- {listitem1}</li>
            <li class="lowercase md:text-xl text-md">- {listitem2}</li>
            <li class="lowercase md:text-xl text-md">- {listitem3}</li>
            <li class="lowercase md:text-xl text-md">- {listitem4}</li>
          </ul>
          <!-- * BTN WRAPPER   v-->
          <ButtonProps
            btn1="see services"
            btn2="contact"
            btn1Link="/#services"
            btn2Link="/#contact"
          />
          <!-- * BTN WRAPPER   ^-->
        </div>
      </div>
      <!-- <img src={heroImg} class="md:w-3/4 border border-black" /> -->
    </div>
  </div>
</div>
