---
const items = [
  {
    title: "Growing Pup",
    listitem1: "interactive template 1",
    listitem2: "This is a template catered towards people starting out, not much custom.",
    listitem3:
      "Things that can be custom should be already made",
    listitem4:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet enim officiis ipsum veniam,",
  },
  {
    title: "Rising Carnivore",
    listitem1: "interactive template 2",
    listitem2: "Taking your business to a whole another level.",
    listitem3:
      "Custom, contact for unique and custom work,",
    listitem4:
      "see grid below for some of the possibilities!",
  },
];

---

---

<div id="wrapper" class="flex justify-center pb-5 mb-5 md:p-5 p-0 bg-">
  <div id="container" class="max-w-[1060px]">
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-x-5 gap-y-12">
      {
        items.map((item) => (
          <div
            id="sq"
            class="p-5 bg-teal rounded-lg text-parchment border border-black"
          >
            <h2 class="font-bold text-2xl">{item.title}</h2>
            <ul class="text-lg">
              <li>- {item.listitem1}</li>
              <li>- {item.listitem2}</li>
              <li>- {item.listitem3}</li>
              <li>- {item.listitem4}</li>
             
            <!-- * BTN WRAPPER  (make visible when content available) v-->
            {/* <ButtonProps
              btn1="see demo"
              btn2="contact"
              btn1Link="/#services"
              btn2Link="/#contact"
            /> */}
            <!-- * BTN WRAPPER   ^-->
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</div>
  