---
export interface Props {
  title: string;
  pkgNo: string;
  desc1: string;
  desc2: string;
  tag1: string;
  tag2: string;
  pkgParagraph: string;
  pkgLink: string;
  sq1Img: string;
  sq3Img: string;
  sq3desc: string;
}

const {
  title,
  pkgNo,
  desc1,
  desc2,
  tag1,
  tag2,
  pkgParagraph,
  pkgLink,
  sq1Img,
  sq3Img,
  sq3desc,
} = Astro.props as Props;
---

<div
  id="package-card"
  class="bg-parchment text-carribean p-5 mt-5 sq-styles grid xl:grid-cols-2 grid-cols-1 gap-2"
>
  <div id="sq1" class="bg-test p-5 flex justify-end items-center">
    <!-- v -->
    <!-- ^ -->
    <div id="mainImg-wrapper" class="">
      <img src={sq1Img} alt="" class="sq-styles 2xl:w-full w-3/4" />
    </div>
  </div>

  <div
    id="sq2"
    class="bg-papaya sq-styles-teal flex justify-center items-center"
  >
    <div id="sq-2-container" class="bg- sq-styles- p-5">
      <a href={pkgLink}>
        <span class="text-lg">{pkgNo}</span>
        <h1 class="font-bold text-4xl">{title}</h1>
        <p
          class="bg-teal text-parchment sq-styles-teal mt-1 my-2 py-3 px-2 pl-2"
        >
          {desc1}
        </p>
        <p class="py-3">{desc2}</p>
        <ul class="bg- my-5 mb-1 flex space-x-6 text-md">
          <li class="sq-styles-teal px-2 py-1 bg-lavender">{tag1}</li>
          <li class="sq-styles-teal px-2 py-1 bg-orange">{tag2}</li>
        </ul>
        <p class="my-3">{pkgParagraph}</p>
      </a>
    </div>
  </div>

  <div id="sq3 " class="bg-">
    <div class="mr-3 my-4 2xl:mt-0 mt-[50px] 2xl:pl-0 pl-5 flex justify-end">
      <img
        src={sq3Img}
        alt=""
        class="rounded-2xl border-2 border-onyx 2xl:w-full w-3/4"
      />
    </div>
    <p class="2xl:text-left text-right">{sq3desc}</p>
  </div>
  <div id="sq4 " class="text- p-5">
    <ul class="space-y-5">
      <li>
        item Lorem ipsum do sit amet, consectetur adipisicing elit. In tempora
        ratione !
      </li>
      <li>item Lorem i ne !</li>
      <li>
        item Lorem ipsum dolor sit amet, consectetur adipisicing elit. In
        tempora ratione !
      </li>
    </ul>
    <!-- <p class="p-3 m-2">
      {sq2Paragraph}
    </p> -->
  </div>
</div>
