---
import ButtonProps from "./shared/ButtonProps.astro";

const items = [
  {
    title: "Growing Pup",
    listitem1: "interactive template 1",
    listitem2: "This is a template catered towards people starting out, not much custom.",
    listitem3:
      "Things that can be custom should be already made",
    listitem4:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet enim officiis ipsum veniam,",
  },
  {
    title: "Rising Carnivore",
    listitem1: "interactive template 2",
    listitem2: "Taking your business to a whole another level.",
    listitem3:
      "Custom, contact for unique and custom work,",
    listitem4:
      "see grid below for some of the possibilities!",
  },
  {
    title: "test2",
    listitem1: "interactive template 1",
    listitem2: "This is a template catered towards people starting out, not much custom.",
    listitem3:
      "Things that can be custom should be already made",
    listitem4:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet enim officiis ipsum veniam,",
  },
  {
    title: "test 1",
    listitem1: "interactive template 2",
    listitem2: "Taking your business to a whole another level.",
    listitem3:
      "Custom, contact for unique and custom work,",
    listitem4:
      "see grid below for some of the possibilities!",
  }
];
---

<div id="wrapper" class="bg-teal h-screen flex justify-center items-center pb-5 mb-5 md:p-5 p-0 bg-">
  <div id="container" class="max-w-[1060px]">
    pkgs
    <div id="grid" class="grid lg:grid-cols-2 grid-cols-1 gap-x-5 gap-y-12">
      {
        items.map((item) => (
          <div
            id="card"
            class="p-5 bg-test2 rounded-lg text-teal border border-black"
          >
            <h2 class="font-bold text-2xl">{item.title}</h2>
            <div id="img-wrapper">
              <div id="img" class="bg-test1 w-full h-64 my-1"></div>
            </div>
            <ul class="text-lg p-1">
              <li>- {item.listitem1}</li>
              <li>- {item.listitem2}</li>
              <li>- {item.listitem3}</li>
              <li>- {item.listitem4}</li>
             
            <!-- * BTN WRAPPER  (make visible when content available) v-->
            <ButtonProps
              btn1="see demo"
              btn2="contact"
              btn1Link="/#services"
              btn2Link="/#contact"
            />
            <!-- * BTN WRAPPER   ^-->
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</div>
  