---
export interface Props {
  title1: string;
  title2: string;
  p1: string;
  p2: string;
  img1: string;
  img2: string;
}

const { title1, p1, p2, img1, img2, title2 } = Astro.props as Props;
---

<!-- TODO: CREATE UNIVERSAL GRID WITH IMGS AND DESCRIPTIONS -->
<section id="website comp">
  <div id="" class="2xl:px-[150px]">
    <div
      id="container"
      class="flex justify-center md:p-5 p-1 bg-test 2xl:m-[150px] m-3 py-5"
    >
      <div id="grid" class="bg- grid lg:grid-cols-2 grid-cols-1 md:gap-10">
        <div id="sq1" class="">
          <div class="md:mt-[100px] mt-1 pr-2 2xl:pl-[90px] text-right">
            <h2 class="font-bold text-2xl">{title1}</h2>
            <p class="">{p1}</p>
          </div>
        </div>
        <div id="sq2">
          <img src={img1} alt="" class="border border-black" />
        </div>
        <div id="sq3" class="border border-black">
          <img src={img2} alt="" />
        </div>
        <div id="sq4" class="md:mt-[100px] pl-3">
          <h2 class="font-bold text-2xl">{title2}</h2>
          <p>{p2}</p>
        </div>
      </div>
    </div>
  </div>
</section>
