---
export interface Props {
  title: string;
  url: any;
  siteImg: any;
  description: string;
  websiteUrl: any;
}

const { title, siteImg, url, description, websiteUrl } = Astro.props as Props;
---

<div id="card-container" class="rounded-lg py-5 w-full">
  <div
    id="img-wrapper"
    class="w-full opacity-80 hover:opacity-100 border-black border-t border-b"
  >
    <a href={url}>
      <img src={siteImg} alt="" class="rounded border-2 border-black" />
    </a>
  </div>

  <div class="pt-3 p-5">
    <h3 class="md:text-4xl text-3xl font-bold text-">{title}</h3>
    <p class="bg-test text-onyx">
      {description}
    </p>
    <div
      id="button_wrapper-flex"
      class="my-5 2xl:w-1/3 w-full flex space-x-3 text-parchment"
    >
      <button class="w-1/ rounded px-2 py-1 bg-teal border border-black">
        <a href={url}> Case study </a>
      </button>

      <button class="rounded px-2 bg-test2 text-black border border-black">
        <a href={websiteUrl}> visit site</a>
      </button>
    </div>
  </div>
</div>
