---
import Card from "./Card.astro";
const allWorks = await Astro.glob("../../../../pages/works/*.md");
---

<>
  <div id="grid-wrapper" class="2xl:pl-5 2xl:ml-5 md:px-[50px] p-1">
    <div
      id="flex"
      class="flex justify-center xl:flex-row flex-col 2xl:pl-[50px] pl-1 gap-5 m-5"
    >
      {
        allWorks.map((website) => (
          <div class="">
            <Card
              title={website.frontmatter.title}
              url={website.url}
              siteImg={website.frontmatter.image.url}
              description={website.frontmatter.description}
              websiteUrl={website.frontmatter.websiteUrl}
            />
          </div>
        ))
      }
    </div>
  </div>
</>
